{% sw_extends '@Storefront/storefront/component/product/listing.html.twig' %}

{% block element_product_listing_sorting %}
    <div class="cms-element-product-listing-action-right">
        {% sw_include '@Storefront/storefront/component/mac-listing-search.html.twig' %}

        {{ parent() }}
    </div>
{% endblock %}

{% block element_product_listing_col_empty_alert %}
    <div class="cms-element-product-listing-alert">
        {% sw_include '@Storefront/storefront/component/mac-listing-search.html.twig' %}
    </div>

    {{ parent() }}
{% endblock %}


